---
title: Home
---

<h1>TradeDocs.org</h1>

<p>TradeDocs is a set of modern workflows, standards and business logic that enables generating `smart contracts` out of `legal contracts`.:</p>
<br>
<p><strong>Language Support</strong>
<ul>
  <li><p><strong>Solidity</strong> with EVM networks and Solc ^0.4.4</p></li>
  <li><p><strong>DAML</strong> with Hyperledger Besu ^1.4.1</p></li>
</ul>
<br>
<p><strong>Supported Transactions</strong>(as of 0.1.0)
<li><p><strong>204</strong>  Motor Carrier Shipment Information - Version 4010</p></li>
<li><p><strong>210</strong> Freight Details and Invoice - Version 4010</p></li>
<li><p><strong>211</strong> Motor Carrier Bill of Lading - Version 4010</p></li>
<li><p><strong>214</strong> Shipment Status Message - Version 4010</p></li>
<ul>
  <br>
<p><strong>sam@freighttrust.com</strong> - see CONTRIBUTING and LICENSE</p>
</ul>
<p>(C) 2020 - FreightTrust & Clearing Corporation</p>
