<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TradeDocs - Legal Parity Smart Contracting Platform - <%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Documentation</h2>
      <ul>
        <li><a href="https://raw.githubusercontent.com/freight-chain/tradedocs/master/README.adoc">Overview</a></li>
        <li><a href="https://github.com/freight-chain/tradedocs/blob/master/core/base_docs/README.adoc">Documentation</a></li>
        <li><a href="https://github.com/freight-chain/tradedocs/blob/master/core/base_docs/README.adoc">Tutorial</a></li>
      </ul>
      <h2>Tools</h2>
      <ul>
        <li><a href="https://github.com/freight-chain/tradedocs/tree/master/parser/edifact">EDIFACT Parser</a></li>
        <li><a href="https://github.com/freight-chain/tradedocs/blob/master/schema/src/common-domain-models/legal-entity-identifer/lei_cdf-v2.xsd">LEI Index</a></li>
        <li><a href="https://github.com/freight-chain/tradedocs/blob/master/data/src/cn-ccs-codes/cat-level3.csv">CN-CCS-Codes (Mandarin)</a></li>
      </ul>
    </div>
  </body>
</html>
